<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a new link</h4>
                </div>
                <div class="modal-body">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.help_text }}
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" value="add link" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>