{% extends 'base.html' %}
{% load thumbnail %}



{% block news-active %}class="active"{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            {% if user.profile_pic %}
            <div class="well" style="background-color: #ffffff; text-align: center;">
                <div class="media">
                    <a class="pull-left" href="#">
                        {% thumbnail user.profile_pic "64x64" as pic %}
                        <img class="media-object" src="{{ pic.url }}">
                        {% endthumbnail %}
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h5>
                        Points: {{ user.points }} <br> Rank: 1
                    </div>
                </div>
            </div>
            {% endif %}
                <button type="button" id="add-link" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-link pull-left"></span><strong>Add a Link</strong></button>
        </div>
        <div class="col-lg-9">

                    <div class="panel panel-primary">
                <div class="panel-body">
                    {% for article in article_list %}
                    <div class="row">
                        <div class="col-xs-1">
                            {% if article not in user.liked_articles.all %}
                                <a href="{% url 'vote' %}" id="article-vote-{{ article.id }}" class="vote"><span class="glyphicon glyphicon-chevron-up"></span></a>
                            {% else %}
                                <span class="glyphicon glyphicon-ok" style="color: orange;"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-10">
                        <p><a href="{{ article.url }}" target="_blank"><strong>{{ article }}</strong></a> ({{ article.domain }})</p>
                            <span id="points-{{ article.id }}" class="points" >{{ article.points }}</span> points by {{ article.moderator }} at {{ article.created_at }}
                                <a href="{% url 'article_detail' article.id %}">Comment{% if article.comments.all.count > 0 %}s</a> <span class="badge">{{ article.comments.all.count }}</span>{% endif %}
                            <hr>
                        </div>
                        <div class="col-xs-1">
                            <a href="#"><span class="glyphicon glyphicon-flag pull-right" style="font-size: 70%"></span></a>
                        </div>
                    </div>
                    {% endfor %}
                    <ul class="pager">
                        {% if article_list.has_previous %}
                            <li class="previous"><a href="?page={{ article_list.previous_page_number }}">&larr; Previous</a></li>
                        {% endif %}

                        {% if article_list.has_next %}
                            <li class="next"><a href="?page={{ article_list.next_page_number }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

