{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            {% include "includes/create_article.html" %}
        </div>
        <div class="col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5><span class="glyphicon glyphicon-list"></span> Article List</h5>
                </div>
                <div class="panel-body">
                    <ul style="list-style: none;">
                        {% for article in article_list %}
                        <li><a href="{{ article.url }}">{{ article }}</a> ({{ article.domain }})
                            {% if article not in user.liked_articles.all %}
                                <a href="{% url 'vote' %}" id="article-vote-{{ article.id }}" class="vote"><span class="glyphicon glyphicon-chevron-up pull-right"></span></a>
                            {% else %}
                                <span class="glyphicon glyphicon-ok pull-right" style="color:orange;"></span>
                            {% endif %}
                        </li>
                            <p>{{ article.points }} points by {{ article.moderator }} at {{ article.created_at }}
                                <a class="btn btn-default btn-xs" href="{% url 'article_detail' article.id %}">Comments {% if article.comments.all.count > 0 %}({{ article.comments.all.count }}){% endif %}</a></p>
                            <hr>
                        {% endfor %}
                    </ul>
                    <ul class="pager">
                        {% if article_list.has_previous %}
                            <li class="previous"><a href="?page={{ article_list.previous_page_number }}">&larr; Previous</a></li>
                        {% endif %}

                        {% if article_list.has_next %}
                            <li class="next"><a href="?page={{ article_list.next_page_number }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

