{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ user.username|capfirst }}'s Articles | {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        {% if user.profile_pic %}
            <div class="well" style="background-color: #ffffff; text-align: center;">
                <div class="media">
                    <a class="pull-left" href="#">
                        {% thumbnail user.profile_pic "64x64" as pic %}
                        <img class="media-object" src="{{ pic.url }}">
                        {% endthumbnail %}
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h5>
                        Points: {{ user.points }} <br> Rank: 1
                    </div>
                </div>
            </div>
            {% endif %}
        <div class="list-group">
            <a class="list-group-item" href="{% url 'user_articles' %}">Articles</a>
            <a class="list-group-item" href="{% url 'user_comments' %}">Comments</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{ user.username|capfirst }}'s Articles</h5>
            </div>
            <div class="panel-body">
                {% if user_articles %}
                <ul style="list-style: none;">
                {% for article in user_articles %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a> ({{ article.domain }})
                        <a href="{% url 'delete_article' article.id %}"><span class="glyphicon glyphicon-remove pull-right"></span></a></li>
                    <p>{{ article.points }} points on {{ article.created_at }}</p>
                    <hr>
                {% endfor %}
                </ul>
                <ul class="pager">
                    {% if user_articles.has_previous %}
                        <li class="previous"><a href="?page={{ user_articles.previous_page_number }}">&larr; Previous</a></li>
                    {% endif %}

                    {% if user_articles.has_next %}
                        <li class="next"><a href="?page={{ user_articles.next_page_number }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <h5>You haven't submitted any articles yet.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}