{% extends 'base.html' %}

{% block title %}{{ user.username|capfirst }}'s Comments | {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            <a class="list-group-item" href="{% url 'user_articles' %}">Articles</a>
            <a class="list-group-item" href="{% url 'user_comments' %}">Comments</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{ user.username|capfirst }}'s Comments</h5>
            </div>
            <div class="panel-body">
                {% if user_comments %}
                <ul style="list-style: none;">
                {% for comment in user_comments %}
                    <li><a href="{% url 'article_detail' comment.article.id %}">{{ comment.article }}</a> ({{ comment.article.domain }})
                        <a href="{% url 'delete_comment' comment.id %}"><span class="glyphicon glyphicon-remove pull-right"></span></a></li>
                    <p>{{ comment.body }}</p>
                    <hr>
                {% endfor %}
                </ul>
                <ul class="pager">
                    {% if user_comments.has_previous %}
                        <li class="previous"><a href="?page={{ user_comments.previous_page_number }}">&larr; Previous</a></li>
                    {% endif %}

                    {% if user_comments.has_next %}
                        <li class="next"><a href="?page={{ user_comments.next_page_number }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <h5>You haven't commented on any articles yet.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}