{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{ user.username|capfirst }}'s Articles</h5>
            </div>
            <div class="panel-body">
                {% if user_articles %}
                <ol>
                {% for article in user_articles %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a> ({{ article.domain }})
                        <a href="{% url 'delete_article' article.id %}"><span class="glyphicon glyphicon-remove pull-right"></span></a></li>
                    <p>{{ article.points }} points on {{ article.created_at }}</p>
                    <hr>
                {% endfor %}
                </ol>
                {% else %}
                <h5>You haven't submitted any articles yet.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}